<div id="topnav">
	
	<ul class="mininav left">
		<li>
			<a href="#"><i class="fa fa-cog"></i></a>
			<ul style="display: none; ">
				<li><a href="#">Email In Media</a></li>
				<li><a href="#">Choose Background</a></li>
				<li><a href="#">Email In Media</a></li>
				<li><a href="#">Email In Media</a></li>
			</ul>
		</li>
		<li>
			<a href="#" data-action="folders"><i class="fa fa-list"></i></a>
			<ul id="songs"></ul>
		</li>
		<!--<li class="hide"><a href="#" data-action="key"><i class="fa fa-font"></i></a></li>
				<li class="hide"><a href="#" data-action="music" data-toggle="off"><i class="fa fa-tags"></i></a></li>-->
		<li><a href="#" data-action="live" data-toggle="off" class="signal_wrapper"><i class="fa fa-rss fa-rotate-315"></i></a></li>
	</ul>
	
	<ul class="mininav right">
		<li><a href="#" data-action="black" class="selected"><i class="fa fa-ban"></i></a></li>
		<li><a href="#" data-action="bible"><i class="fa fa-book"></i></a></li>
		<li>
			<a href="#" data-action="music" data-toggle="off"><i class="fa fa-music"></i></a>
		</li>
		<li><a href="#" data-action="home"><i class="fa fa-home"></i></a></li>
	</ul>
	
	<h1>{{ title }}</h1>
	
	<ul style="display: none; ">
		<li><a href="#">Shout to the North</a></li>
		<li><a href="#">I Could Sing of Your Love Forever</a></li>
		<li><a href="#">See</a></li>
		<li><a href="#"><i class="fa fa-plus-square"></i></a></li>
	</ul>
	
	<div class="clear"></div>
	
</div>